.carousel-control-prev{
    border: 1px solid black;
    border-radius: 32px;
    background: #b3b3b3;
    width: 35px;
    height: 35px;
    color: black;
    margin-top: 8%;
    margin-left: 1%;
}
.carousel-control-next{
    border: 1px solid black;
    border-radius: 32px;
    background: #b3b3b3;
    width: 35px;
    height: 35px;
    color: black;
    margin-top: 8%;
    margin-left: 1%;
}
